<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#!"><img style="width:60px;" src="/images/logo.svg" alt=""></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/providers/uno/list">Proveedores</a>
      </li>
      <li>
        <a class="nav-link" href="/providers/{{user.username}}">{{user.username}}</a>
      </li>
      <li>
        <a class="nav-link" href="/auth/logout">Salir</a>
      </li>
    </ul>
  </div>
</nav>
<section class="list-header">
  <form class="form-inline my-2 my-lg-0">
    <input id="search-bar" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</bu>
  </form>
</section>
<section class="list">
  <div style="width:90%;margin: 0 auto;">
    <div class="row">
      {{#each users}}  
        <div class="card col-3">
          {{#if photoURL}}
              <img class="card-foto" src="{{photoURL}} " alt="foto de la empresa">
            {{else}}
              <img class="card-foto" src="/images/photo-placeholder.png" alt="">
            {{/if}}
          <div class="card-body">
            {{#if name}}
            <h4 class="card-title">{{name}}</h4>
            {{else}}
            <h4 class="card-title">{{username}}</h4>
            {{/if}}
            <p><strong>Calificación : </strong><span class="badge badge-warning">{{rating}}</span></p>
            {{#if category}}
            <p><strong>Categoría : </strong>{{category}}</p>
            {{else}}
            <p><strong>Categoría : </strong>No lo ha definido aún</p>
            {{/if}}
            <a href="/providers/{{username}}"><button class="btn btn-danger">Ver más</button></a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
