<h1>USER</h1>

<section class="profile">


{{!-- <form action="/user/{{data.dataname}}">
    <input type="text" name="username" id="" value="{{data.username}} ">
    <input type="email" name="email" id="" value="{{data.email}} ">

</form> --}}


<h2>{{data.username}} </h2>
<h3>{{data.email}} </h3>









</section>