<h1>USER1</h1>

<section class="profile">

  <article>
    {{#if photoURL}}
    <img src="{{photoURL}} " alt="">
    {{else}}
    <img src="/images/photo-placeholder.png" alt="">
    {{/if}}
    
    <div>            
            <h2>{{username}} </h2>
            <h3>{{email}} </h3>
    </div> 
    <a href="/users/{{username}}/edit">Edit Profile</a>


  </article>



</section>
