<h1>USER1</h1>

<section class="profile">

  <article>
    {{#if photoURL}}
    <img src="{{photoURL}} " alt="">
    {{else}}
    <img src="https://resize.indiatvnews.com/en/resize/newbucket/715_-/2018/03/meme-fest-1522372409.jpg" alt="">
    {{/if}}
    
    <div>            
            <h2>{{username}} </h2>
            <h3>{{email}} </h3>
    </div> 
    <a href="/users/{{username}}/edit">Edit Profile</a>


  </article>



</section>
