<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/providers/uno/list"><img style="width:60px;" src="/images/logo.svg" alt=""></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/providers/uno/list">Proveedores</a>
      </li>
      <li>
        <a class="nav-link" href="/auth/logout">Salir</a>
      </li>
    </ul>
  </div>
</nav>

<div class="pro-profile-container">
  <div style="margin:0 auto;" class="row">
    <div class="col-3">
      {{#if photoURL}}
        <img class="profile-pic"  src="{{photoURL}} " alt="">
      {{else}}
        <img class="profile-pic" src="/images/photo-placeholder.png" alt="">
      {{/if}}
    </div>
    <div class="profile-detail col-6">
      <h1>{{name}}</h1>
      <h4>{{username}}</h4>
      <p>{{email}}</p>
      <br>
      <a href="mailto:{{email}}"><button class="btn btn-dark">Contact</button></a>
    </div>
    <div class="col-2">
      <a href="/users/{{username}}/edit"><button class="btn btn-dark">Edit Profile</button></a>
    </div>  
  </div>
</div>

<section class="comments-section"></section>