<section class="profile-header">
  <h1>Proveedor</h1>
</section>

<div class="pro-profile-container container">
  <div class="row">
    <div class="col-4">
      {{#if photoURL}}
        <img src="{{photoURL}} " alt="">
      {{else}}
        <img class="profile-pic" src="/images/photo-placeholder.png" alt="">
      {{/if}}
    </div>
    <div class="profile-detail col-6">
      <h1>{{username}}</h1>
      <br>
      <h5>Calificación :</h5>
      <p>{{rating}}</p>
      <br>
      <p>Categoría : {{category}}</p>
      <p>Descripción : {{bio}}</p>
      <br>
      <a href="mailto:{{email}}"><button>Contact</button></a>
    </div>
    <div class="col-2">
      <a href="/provider/edit"><button>Edit Profile</button></a>
    </div>
  </div>

</div>

  <!-- Write a comment -->
  <div class="container">
    <form action="/comments" method="POST">
      <textarea name="comment" id="comment" rows="5" placeholder="Escribe un comentario..."></textarea>
      <input type="submit" value="Publicar">
    </form>   
  </div>

  <!-- Display comments -->
  <article>
    {{#each comments}}
    <p><img src="{{this.user.photoURL}}" alt="">{{this.user.username}}</p>
    <p>{{this.text}}</p>   
    {{/each}}     
  </article>
</section>