<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/providers/uno/list"><img style="width:60px;" src="/images/logo.svg" alt=""></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/providers/uno/list">Proveedores</a>
      </li>
      <li>
        <a class="nav-link" href="/auth/logout">Salir</a>
      </li>
    </ul>
  </div>
</nav>

<div class="pro-profile-container">
  <div style="margin:0 auto;" class="row">
    <div class="col-3">
      {{#if user.photoURL}}
        <img class="profile-pic"  src="{{user.photoURL}} " alt="">
      {{else}}
        <img class="profile-pic" src="/images/photo-placeholder.png" alt="">
      {{/if}}
    </div>
    <div class="profile-detail col-6">
      <h1>{{user.name}}</h1>
      <p>{{user.username}}</p>
      <br>
      <h5>Calificación :</h5>
      {{#colorText user.rating}}
        <p id="newRating" class="badge badge-warning">{{user.rating}}</p>
      {{/colorText}}
      <br>
      <p>Categoría : {{user.category}}</p>
      <p>Descripción : {{user.bio}}</p>
      <br>
      <a href="mailto:{{user.email}}"><button class="btn btn-dark">Contact</button></a>
      <a href="/providers/{{user.username}}/gallery"><button class="btn btn-warning">Gallery</button></a>
    </div>
    <div class="col-2">
      <a href="/providers/{{user.username}}/edit"><button class="btn btn-dark">Edit Profile</button></a>
    </div>  
  </div>
</div>

<section class="comments-section">
  <!-- Write a comment -->
  <div class="write-comment container">
    <form action="/providers/{{user.username}}/comments" method="POST">
      <div class="form-group">
        <label class="form-title" for="comment">Escribe un comentario</label>
        <textarea class="form-control" id="comment" name="text" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="rating">Calificar este proveedor</label>
        <select class="form-control" name="rating" id="rating">
          <option value="EXCELENTE">Excelente</option>
          <option value="REGULAR" selected>Regular</option>
          <option  value="MALO">Malo</option>
        </select>
  </div>
      <input class="btn btn-secondary" type="submit" value="Publicar">
    </form>   
  </div>

  <!-- Display comments -->
  <article style="padding:50px;" class="container">
    {{#each comments}}
      <div class="dashed-container row">
        <div class="col-2">
          {{#if this.user.photoURL}}
          <p><img style="width:5rem;height:5rem;" src="{{this.user.photoURL}}" alt="User photo"></p>
          <p>{{this.user.username}}</p>
          {{else}}
          <p>{{this.user.username}}</p>
          {{/if}}
        </div>
        <div class="col-10">
          <h5>Calificación :</h5>
          {{#colorText this.rating}}
          <p id="newRating" class="badge badge-warning">{{this.rating}}</p>
          {{/colorText}}
          
          <p>{{this.text}}</p>
        </div>
      </div> 
    {{/each}}     
  </article>
</section>  
